<%
    var defaultTitle = 'Null'

    var firstArticle = posts.data[0] || false
%>
<div class="primary-container content-box is-flex-desktop clear-padding bottom-line" style="margin-bottom: 25px;">
    <div class="column  is-7-desktop ">
        <a href="<%- config.root + firstArticle.path %>">
            <div class="full-height post-hover"
                 style="
                         background-image: url('<%- getPostCoverPhoto(firstArticle) %>');
                         height: 350px;
                         background-size: cover;
                         background-repeat: no-repeat;
                         ">
                    <div class=" is-flex flex-column center content has-text-centered full-height has-padding content-bg-mask">
                        <h1 class="title text-shadow" style="margin-bottom: 15px;">
                            <%- truncate(strip_html(firstArticle.title || defaultTitle), {length: 50, omission: '..'}) %>
                        </h1>
                        <div>
                        <% if (firstArticle.tags){%>
                            <% firstArticle.tags.forEach(function(tag){%>`
                                <span class="tag is-post-tag"><%- tag.name %></span>
                            <%})%>
                        <%}%>
                        </div>
                        <p class="post-content-text is-marginless has-padding text-shadow">
                            <%- truncate(strip_html(firstArticle.content), {length: 120, omission: '..'}) %>
                        </p>
                        <p class="date text-shadow"><%- firstArticle.date.format(config.date_format) %></p>
                        <button class="button is-info is-small">Read More</button>
                    </div>
            </div>
        </a>
    </div>
</div>
